<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Nhà Đẹp A-Z</title>
	<atom:link href="https://test-static-enti.bitbucket.io/feed/" rel="self" type="application/rss+xml" />
	<link>https://test-static-enti.bitbucket.io/</link>
	<description>Chuyên trang tổng hợp kiến trúc và nhà đẹp!</description>
	<lastBuildDate>Tue, 27 Apr 2021 04:52:01 +0000</lastBuildDate>
	<language>vi</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.2</generator>

<image>
	<url>https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/cropped-favicon-aznhadep-32x32.png</url>
	<title>Nhà Đẹp A-Z</title>
	<link>https://test-static-enti.bitbucket.io/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>NAS: Giải pháp thay thế server cho các văn phòng Kiến trúc nhỏ</title>
		<link>https://test-static-enti.bitbucket.io/nas-giai-phap-thay-the-server-cho-cac-van-phong-kien-truc-nho/</link>
					<comments>https://test-static-enti.bitbucket.io/nas-giai-phap-thay-the-server-cho-cac-van-phong-kien-truc-nho/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Tue, 27 Apr 2021 04:51:59 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2692</guid>

					<description><![CDATA[Khi những nhu cầu cơ bản nhất của máy tính như duyệt web, nghe nhạc hay xem phim đã được thỏa mãn, người ta lại muốn sử dụng những tính năng hữu ích và cao cấp hơn, chẳng hạn như nghe nhạc không dây từ xa hay ngồi trong phòng khách xem phim với nguồn của một máy tính trong phòng ngủ, quản lý lưu trữ dữ liệu cho văn phòng nhỏ mà không có một quản trị viên CNTT chuyên dụng &#8230; Đó là lý do mà hệ thống lưu trữ mạng. NAS ngày càng trở nên phổ biến. Tất nhiên cũng chỉ là NAS gia đình còn NAS kinh doanh thì &#8220;lợi hại&#8221; hơn rất nhiều lần, hy vọng bài viết này sẽ giúp các bạn có những kiến ​​thức cơ bản nhất [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Khi những nhu cầu cơ bản nhất của máy tính như duyệt web, nghe nhạc hay xem phim đã được thỏa mãn, người ta lại muốn sử dụng những tính năng hữu ích và cao cấp hơn, chẳng hạn như nghe nhạc không dây từ xa hay ngồi trong phòng khách xem phim với nguồn của một máy tính trong phòng ngủ, quản lý lưu trữ dữ liệu cho văn phòng nhỏ mà không có một quản trị viên CNTT chuyên dụng &#8230; Đó là lý do mà hệ thống lưu trữ mạng. NAS ngày càng trở nên phổ biến. Tất nhiên cũng chỉ là NAS gia đình còn NAS kinh doanh thì &#8220;lợi hại&#8221; hơn rất nhiều lần, hy vọng bài viết này sẽ giúp các bạn có những kiến ​​thức cơ bản nhất về NAS cũng như các tiêu chí chọn mua NAS để không bị mua hớ. do nhầm lẫn hoặc không đáp ứng nhu cầu.</p>
<h4>NAS là gì?</h4>
<p>NAS là từ viết tắt của Network Attached Storage, tạm dịch sang tiếng Việt là thiết bị lưu trữ gắn liền với hệ thống mạng. Dịch thuật nghe có vẻ rất hạn hẹp, nhưng NAS thực hiện rất nhiều công việc và công việc chính là tập trung tất cả dữ liệu của người dùng để dễ dàng quản lý. Chúng ta cần phân biệt rõ NAS và DAS (lưu trữ gắn trực tiếp), NAS không gắn trực tiếp vào máy tính như DAS mà nó sẽ kết nối mạng. NAS được sử dụng phổ biến để lưu trữ, chia sẻ tập tin và đặc biệt là truyền dữ liệu đa phương tiện trong thời gian gần đây. Với hệ thống NAS, nếu bạn đi ra khỏi nhà, văn phòng vẫn có thể dễ dàng truy cập dữ liệu của bạn tại nhà.</p>
<p>Hệ thống NAS hiện đại cũng có thể được hình dung như một máy chủ thu nhỏ vì nó cũng có CPU, cũng có RAM và chạy các phiên bản nhỏ của hệ điều hành nhúng (thường là Linux) cũng như kết nối mạng. qua Ethernet hoặc thậm chí là kết nối không dây như Wi-Fi. Để lưu trữ dữ liệu, NAS thường sử dụng nội bộ, nhưng một số thiết bị cũng hỗ trợ kết nối với thiết bị bên ngoài hoặc thậm chí là bộ nhớ USB. Thị trường NAS ngày nay khá đông đúc và bạn có thể lựa chọn tùy thích, những NAS chỉ hỗ trợ lưu trữ ngoài qua USB thường có dung lượng nhỏ và rẻ hơn rất nhiều so với NAS sử dụng ổ cứng. được gắn vào. Các tính năng NAS nâng cao khác như thiết lập máy chủ web, quản trị từ xa hoặc thiết lập ổ cứng ở chế độ RAID.</p>
<p>Thị trường NAS hiện tại được chia thành ba loại chính. Đầu tiên là NAS dành cho khách hàng cá nhân thường chỉ hỗ trợ cổng USB và gắn ổ cứng chết. Tiếp theo là các NAS cao cấp hơn một chút, chẳng hạn như hỗ trợ giao diện iSCSI cho văn phòng nhỏ và người dùng cao cấp. Cuối cùng, chúng tôi có NAS tốt nhất để hỗ trợ các giao thức RAID, Active Directory, Web Server, Firewall, v.v.</p>
<h4>Sau đây, hãy cùng khám phá các tiêu chí khi mua NAS:</h4>
<h5>Dung lượng NAS:</h5>
<p>Dung lượng mà ổ NAS hỗ trợ thường ảnh hưởng rất nhiều đến giá của nó. NAS dành cho khách hàng cá nhân thường không hỗ trợ ổ SATA gắn trong mà sử dụng ổ cứng gắn ngoài qua cổng USB. Một số loại NAS có tới 4 cổng USB để hỗ trợ ổ cứng có dung lượng lên đến TB. Điểm thiếu sót của các ổ này là thường không hỗ trợ các phương thức bảo vệ dữ liệu như RAID 1 hoặc tăng tốc như RAID 0. Ngoài ra, trong khi hệ thống NAS ổ cứng gắn trong lại hỗ trợ nhiều phương thức quản lý. khác nhau và hầu như không có giới hạn về dung lượng lưu trữ của ổ cứng (tối đa 3TB / 1 ổ hiện tại), nhiều USB NAS gắn ngoài bị giới hạn ở mức vài trăm GB trở xuống cho mỗi cổng. Do đó, bạn phải tìm hiểu kỹ với nhà sản xuất trước khi mua.</p>
<p>Thông thường ổ cứng NAS có ổ cứng gắn trong sẽ rẻ hơn so với việc mua rời. Tuy nhiên, vẫn có những trường hợp ngược lại và khi bạn mua đĩa ít hơn và lắp các ổ đĩa di động vào. Việc cài đặt thường rất đơn giản, nhưng hãy nhớ loại ổ cứng được NAS hỗ trợ. Không phải tất cả các ổ cứng đều hỗ trợ sử dụng với NAS và danh sách các ổ cứng tương thích thường được đặt trên trang web của nhà sản xuất.</p>
<p>Với ổ cứng doanh nghiệp, không cần phải nói rằng chúng có khả năng mở rộng. Chẳng hạn, ổ QNAP TS-212 chỉ có 1 cổng USB để mở rộng nhưng lại hỗ trợ iSCSI tạo đĩa ảo để tăng dung lượng.</p>
<h5>NAS không dây hay có dây?</h5>
<p>Hầu hết mọi NAS mới trên thị trường đều hỗ trợ Gigibit Ethernet thay cho mạng 100Mbps chậm chạp như trước đây. Một số NAS thậm chí còn hỗ trợ tới 2 cổng Ethernet cho Port Trunking, tính năng này sẽ ngăn một cổng bị hỏng và ngay lập tức thay thế nó bằng cổng kia để đảm bảo kết nối, ngoài ra nó còn kết hợp 2 đường Ethernet. của NAS được đặt để tăng tốc độ truyền dữ liệu. Bạn có thể kết nối NAS với bộ định tuyến hoặc chuyển đổi để kết nối nó với mạng bạn đang sử dụng. Nhiều NAS có sẵn DHCP và sẽ tự động lấy địa chỉ IP từ mạng. Nếu bạn muốn quản lý nó từ xa, bạn nên gán cho nó một địa chỉ IP tĩnh.</p>
<p>Thiết bị NAS không dây tích hợp hiếm hơn nhiều so với thiết bị có dây và chúng cũng có một số vấn đề như độ trễ thường lớn hơn thiết bị có dây. Tuy nhiên, ngày càng nhiều NAS ra đời với WiFi N tích hợp sẵn hoặc các tùy chọn cho phép gắn USB WiFi. Nhược điểm của việc sử dụng WiFi là tốc độ của nó khá chậm, tốc độ nhanh nhất của WiFi n 450Mbps mới nhất chưa bằng một nửa so với Gigabit Ethernet. Trừ khi bạn muốn phát trực tuyến video qua WiFi hoặc tải xuống / tải lên liên tục, đừng chi tiền cho các tùy chọn này, hãy sử dụng chúng để nâng cấp ổ cứng hoặc bộ định tuyến của bạn.</p>
<h5>Sức mạnh xử lý:</h5>
<p>Cũng giống như máy tính, thiết bị NAS có RAM và bộ vi xử lý riêng. Và tất nhiên, bộ vi xử lý càng nhanh thì NAS càng hoạt động nhiều RAM. Đừng lầm tưởng bộ vi xử lý của NAS cũng đòi hỏi khắt khe như máy tính, NAS cao cấp nhất hiện nay chỉ sử dụng ATOM 2 nhân như D510 mà thôi. Nếu nhu cầu của bạn cao hơn, thực hiện các thao tác I / O liên tục thì nên đầu tư các bộ NAS sử dụng chip ATOM, các NAS rẻ hơn thường sử dụng chip Marvell. Một số NAS cho phép bạn nâng cấp RAM nhưng hầu hết chúng đều bị chết mainboard.</p>
<h5>Hệ điều hành:</h5>
<p>Nếu bạn sử dụng Windows thì đừng lo lắng về điều này, hầu hết các hệ thống NAS đều hỗ trợ đầy đủ Windows. Người dùng Mac cũng không phải lo lắng quá nhiều, một số NAS hỗ trợ hệ thống sao lưu Time Machine của Mac OSX. Người dùng Linux nên sử dụng các bản phân phối Linux phổ biến, dù sao không phải tất cả các NAS đều hỗ trợ Linux.</p>
<h5>Hệ thống sao lưu và phục hồi NAS:</h5>
<p>NAS chỉ có giá trị miễn là nó giữ dữ liệu của bạn. Các NAS cao cấp thường có các tùy chọn thiết lập RAID hoặc các hệ thống cảnh báo lỗi ổ cứng và các vấn đề nghiêm trọng.</p>
<p>Phục hồi dữ liệu trong trường hợp hỏng hóc cũng là một vấn đề cần được quan tâm. NAS dành cho doanh nghiệp thường hỗ trợ tính năng trao đổi nóng, cho phép bạn thay đổi đĩa cứng mà không cần tắt nguồn hoặc ảnh hưởng đến hiệu suất của ổ đĩa. Một số NAS còn hỗ trợ sao lưu dữ liệu trong ổ cứng lên máy chủ đám mây, một giải pháp cực kỳ an toàn khi dữ liệu của bạn được lưu trữ ở hai khu vực hoàn toàn riêng biệt. Nhà sản xuất thường sử dụng thuật ngữ hybrid cho giải pháp này và nó áp dụng cho các dữ liệu cực kỳ quan trọng. Nếu không sử dụng máy chủ của nhà sản xuất, NAS dành cho khách hàng cá nhân cũng có thể hỗ trợ các dịch vụ sao lưu đám mây khác.</p>
<p>Không chỉ dữ liệu mà cấu hình của NAS cũng cần được lưu, có lẽ bạn không muốn phải thiết lập lại và thiết lập lại từng NAS trong hệ thống của mình phải không? Một số NAS còn cho phép người dùng cắm ổ cứng vào cổng USB và sau đó sao lưu vào đó.</p>
<h5>Tiếng ồn:</h5>
<p>Có nhiều hệ thống NAS rất ồn, rất ồn khi 4 ổ cứng quay cùng lúc, quạt tản nhiệt cũng chạy ù ù. Do đó, bạn nên thử nghiệm trước khi mua NAS vì có thể sẽ khó chịu với nó. Tiếng ồn không phải là vấn đề lớn ở các doanh nghiệp có khu vực máy chủ riêng nhưng có lẽ sẽ gây khó chịu cho khách hàng cá nhân.</p>
<h5>Sự tiêu thụ năng lượng:</h5>
<p>NAS được tạo ra để tiết kiệm điện năng so với các hệ thống máy chủ mạng. Tuy nhiên, bạn cũng cần lưu ý xem các giải pháp mà nhà sản xuất đưa ra có đầy đủ hay không, có NAS để quản lý quạt, tiêu thụ điện năng hay chỉ cho quạt chạy khi nhiệt độ đạt ngưỡng nhất định. NAS doanh nghiệp thậm chí có thể kiểm soát dòng điện của CPU &#8230;</p>
<h5>Điều khiển từ xa:</h5>
<p>Ngày càng có nhiều NAS hỗ trợ quản lý từ xa, chẳng hạn như các dịch vụ dựa trên đám mây hoặc quản lý dựa trên web. Tích hợp với các dịch vụ dựa trên đám mây là một tính năng rất quan trọng nếu bạn muốn chia sẻ với bạn bè và gia đình dễ dàng hơn.</p>
<h5>Phần mềm và dịch vụ NAS:</h5>
<p>Mặc dù phần mềm đi kèm với NAS chủ yếu tập trung vào việc phát trực tuyến các tệp phương tiện và sao lưu hệ thống, nhưng có một số nhà sản xuất khá nhanh nhẹn khi hỗ trợ máy chủ FTP, tải xuống BitTorrent, máy chủ iTunes, v.v. là Telnet. Một số khác cao cấp hơn còn có MySQL, Web camera quản lý IP.</p>
<h5>Bảo mật cho NAS:</h5>
<p>Bảo mật luôn là một vấn đề, cho dù bạn sử dụng NAS ở nhà hay tại nơi làm việc. Bạn nên chọn một NAS hỗ trợ mã hóa tệp hoặc thậm chí là bảo vệ tường lửa. Enterprise NAS cũng hỗ trợ các biện pháp bảo vệ vật lý khác như lỗ khóa Kensingto hoặc K-Slots.</p>
<h4>Được đề xuất cho các văn phòng Kiến trúc nhỏ:</h4>
<ul>
<li>Cần có bộ sạc điện để chống chập điện gây cháy ổ cứng với nguồn điện lưới không ổn định tại Việt Nam</li>
<li>Bạn nên chọn ổ cứng từ 8 T trở lên để tránh phải thay ổ mới quá nhanh (sau 2-3 năm) vì file lưu trữ thường có dung lượng lớn.</li>
<li>Phân vùng quản lý nên theo mô hình quản trị của văn phòng: Thông thường văn phòng Kiến Trúc Nhỏ dưới 10 người và việc điều hành không quá phức tạp. Phân cấp quyền truy cập dữ liệu ở một số cấp độ.</li>
<li>Để máy ở nơi ít bụi, nhiệt độ ổn định.</li>
<li>Cài đặt phần mềm diệt virus có bản quyền trên tất cả các máy văn phòng vì NAS không cài đặt phần mềm diệt virus riêng.</li>
</ul>
<p style="text-align: right;"><em><strong>Nguồn Tinhte.vn (Tham khảo: PCMag và Wikipedia)</strong></em></p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/nas-giai-phap-thay-the-server-cho-cac-van-phong-kien-truc-nho/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc</title>
		<link>https://test-static-enti.bitbucket.io/sketchup-viewer-khai-thac-cong-nghe-3d-thuc-tai-ao-trong-thiet-ke-kien-truc/</link>
					<comments>https://test-static-enti.bitbucket.io/sketchup-viewer-khai-thac-cong-nghe-3d-thuc-tai-ao-trong-thiet-ke-kien-truc/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Mon, 19 Apr 2021 04:39:04 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<category><![CDATA[Sketchup Viewer]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2639</guid>

					<description><![CDATA[Nếu là một fan của Iron Man, chắc hẳn bạn không còn quá xa lạ với hình ảnh Tony Stark sử dụng một loại công cụ mô phỏng 3D thực tế ảo để truy lùng kẻ thù. Tưởng chừng chỉ có trong phim Marvel nhưng các nhà khoa học của Trimple đã nghiên cứu và cho ra đời một ứng dụng mang tên Sketchup Viewer, giúp bạn trải nghiệm mô phỏng 3D trong một môi trường hoàn toàn khác. đặc biệt. Trên thực tế, để có thể thiết kế một công trình, các kiến ​​trúc sư đã phải trải qua một quá trình nghiên cứu và phác thảo rất kỹ lưỡng. Công cụ 3D trên máy tính gần đây đã phát triển mạnh mẽ với các ứng dụng như 3Dmax, Sketchup, Revit massing… tuy nhiên, [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Nếu là một fan của Iron Man, chắc hẳn bạn không còn quá xa lạ với hình ảnh Tony Stark sử dụng một loại công cụ mô phỏng 3D thực tế ảo để truy lùng kẻ thù. Tưởng chừng chỉ có trong phim Marvel nhưng các nhà khoa học của Trimple đã nghiên cứu và cho ra đời một ứng dụng mang tên Sketchup Viewer, giúp bạn trải nghiệm mô phỏng 3D trong một môi trường hoàn toàn khác. đặc biệt.</p>
<p>Trên thực tế, để có thể thiết kế một công trình, các kiến ​​trúc sư đã phải trải qua một quá trình nghiên cứu và phác thảo rất kỹ lưỡng. Công cụ 3D trên máy tính gần đây đã phát triển mạnh mẽ với các ứng dụng như 3Dmax, Sketchup, Revit massing… tuy nhiên, tất cả các ứng dụng đó đều chưa thực sự trực quan cho người dùng.</p>
<figure id="attachment_131587" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131587"><img loading="lazy" class="size-full wp-image-131587 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.png" alt="Các kiến ​​trúc sư đang làm việc với các mô hình mô phỏng truyền thống." width="630" height="400" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 8">Các kiến ​​trúc sư đang làm việc với các mô hình mô phỏng truyền thống.</figure>
<figure id="attachment_131594" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131594"><img loading="lazy" class="size-full wp-image-131594 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="420" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 9">Một góc bàn sinh viên kiến ​​trúc</figure>
<p>Mặc dù trực quan nhưng việc xây dựng các mô hình ý tưởng như vậy tốn rất nhiều thời gian và công sức, chưa kể bạn phải đầu tư một lượng lớn công cụ và vật liệu. Sự ra đời của máy in 3D là một bước ngoặt đối với các kiến ​​trúc sư, tuy nhiên tính linh hoạt của nó vẫn còn hạn chế.</p>
<p>Trong bối cảnh đó, các nhà phát minh từ Trimple đã phát hành một ứng dụng có tên Sketchup Viewer, cho phép các kiến ​​trúc sư trải nghiệm khái niệm của họ trong một môi trường hoàn toàn mới.</p>
<p><img loading="lazy" class="aligncenter size-full wp-image-131588 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773088_27_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="390" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 10"></p>
<p>Sử dụng công nghệ HoloLens 3D, Sketchup Viewer tạo ra các hình ảnh 3D thực tế có thể được đặt trong môi trường thực tế, giúp các kiến ​​trúc sư có thể quan sát và phân tích kế hoạch thiết kế của họ ngay cả khi thực tế. vẫn còn trên máy tính.</p>
<figure id="attachment_131589" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131589"><img loading="lazy" class="size-full wp-image-131589 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773089_126_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="383" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 11">Sketchup Viewer cho phép các kiến ​​trúc sư trực tiếp quan sát và điều chỉnh phương án thiết kế của mình một cách trực quan và linh hoạt nhất.</figure>
<p>“Trimple kết hợp hoàn hảo giữa thực tế và công nghệ 3D. Sử dụng công nghệ này, tôi có thể đưa ra quyết định đúng đắn ngay trong quá trình phác thảo, giúp rút ngắn thời gian thiết kế và tăng hiệu quả trong việc tiếp xúc với khách hàng ”- Theo Lynn, một kiến ​​trúc sư chia sẻ.</p>
<figure id="attachment_131590" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131590"><img loading="lazy" class="size-full wp-image-131590 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773090_530_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="354" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 12">Chỉ với một thiết bị hỗ trợ xem hình ảnh giả lập, bạn hoàn toàn có thể làm chủ ứng dụng này</figure>
<p>Trình xem Sketchup sử dụng công nghệ thực tế ảo, tương thích với tất cả các mô hình từ thư viện 3D Warehouse dựa trên nền tảng Trimple Connect. Khi được cài đặt ở chế độ mặt bàn, mô hình có thể được thu nhỏ để phù hợp với không gian có sẵn hoặc phóng to các chi tiết cụ thể. Ngoài ra, bạn có thể tùy chỉnh linh hoạt như xoay, tháo rời hay lắp ráp mô hình. Cho phép người dùng đi bộ bên trong dự án và xem nó từ nhiều góc độ khác nhau.</p>
<p><img loading="lazy" class="aligncenter size-full wp-image-131591 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773092_768_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.png" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="264" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 13"></p>
<p>Trình xem Sketchup cũng cho phép kết nối từ xa. Điều này giúp chủ đầu tư, hoặc khách hàng ở xa dự án có thể “trực tiếp” trải nghiệm và quan sát bản phác thảo của kiến ​​trúc sư, bàn bạc và lên phương án một cách thuận tiện và trực quan. Tốt.</p>
<figure id="attachment_131593" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131593"><img loading="lazy" class="size-full wp-image-131593 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773093_577_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="419" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 14">Công nghệ này cũng có thể được áp dụng trong ngành chế tạo máy. Với khả năng ứng dụng linh hoạt của trình xem sketchup, nó hứa hẹn sẽ tạo ra những bước đột phá trong ngành công nghiệp phần mềm và có ảnh hưởng sâu rộng đến thị trường kiến ​​trúc và thiết kế.</figure>
<p style="text-align: right;"><strong>Theo GenK</strong></p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/sketchup-viewer-khai-thac-cong-nghe-3d-thuc-tai-ao-trong-thiet-ke-kien-truc/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>6 dự án biến đường cao tốc thành công viên</title>
		<link>https://test-static-enti.bitbucket.io/6-du-an-bien-duong-cao-toc-thanh-cong-vien/</link>
					<comments>https://test-static-enti.bitbucket.io/6-du-an-bien-duong-cao-toc-thanh-cong-vien/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 31 Mar 2021 06:35:45 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2491</guid>

					<description><![CDATA[Trong bài báo là 6 ví dụ về việc chuyển đổi từ đường cao tốc sang công viên, một số trong số đó đã hoàn thành, trong khi một số vẫn đang được xây dựng. Xây dựng đường cao tốc ở các thành phố thường được coi là giải pháp cho tình trạng tắc nghẽn giao thông. Tuy nhiên, khi các tài xế có nhiều tuyến đường để đi hơn, họ chọn tiếp tục sử dụng phương tiện giao thông cá nhân thay vì sử dụng phương tiện công cộng hoặc xe đạp, và kết quả là tình trạng ùn tắc không giảm. Do đó, một số thành phố đã cắt giảm không gian dành cho ô tô và biến đường cao tốc thành công viên đô thị và đường phố thông thường. Harbour Drive, [&#8230;]]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Trong bài báo là 6 ví dụ về việc chuyển đổi từ đường cao tốc sang công viên, một số trong số đó đã hoàn thành, trong khi một số vẫn đang được xây dựng.</p>
<p style="text-align: justify;">Xây dựng đường cao tốc ở các thành phố thường được coi là giải pháp cho tình trạng tắc nghẽn giao thông. Tuy nhiên, khi các tài xế có nhiều tuyến đường để đi hơn, họ chọn tiếp tục sử dụng phương tiện giao thông cá nhân thay vì sử dụng phương tiện công cộng hoặc xe đạp, và kết quả là tình trạng ùn tắc không giảm.</p>
<p style="text-align: justify;">Do đó, một số thành phố đã cắt giảm không gian dành cho ô tô và biến đường cao tốc thành công viên đô thị và đường phố thông thường.</p>
<h3 style="text-align: justify;">Harbour Drive, Portland &#8211; Hoa Kỳ</h3>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145335 size-full lazyload" src="https://kienviet.net/wp-content/uploads/2018/03/kienviet-chuyen-doi-duong-cao-toc-cong-vien-6.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="958" data-="" title="6 dự án biến đường cao tốc thành công viên 27"></p>
<p style="text-align: justify;">Một trong những đường cao tốc đầu tiên ở Mỹ bị loại bỏ để nhường chỗ cho công viên là đường Portland Drive, được xây dựng trên bờ sông Willamette. Năm 1974, công việc chuyển đổi bắt đầu, một công viên mới được đặt tên là Công viên Tom McCall.</p>
<p style="text-align: justify;">Cầu Hawthorne, ban đầu là một phần của đường cao tốc, đã trở thành cầu dành cho người đi xe đạp và người đi bộ nối Đại lộ First với công viên.</p>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145334 size-full lazyload" src="https://kienviet.net/wp-content/uploads/2018/03/kienviet-chuyen-doi-duong-cao-toc-cong-vien-5.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="800" data-="" title="6 dự án biến đường cao tốc thành công viên 28"></p>
<h3 style="text-align: justify;">Cheonggyecheon, Seoul &#8211; Hàn Quốc</h3>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145330 size-full lazyload" src="https://kienviet.net/wp-content/uploads/2018/03/kienviet-chuyen-doi-duong-cao-toc-cong-vien-1.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="899" data-="" title="6 dự án biến đường cao tốc thành công viên 29"></p>
<p style="text-align: justify;">Đường cao tốc Cheonggyecheon ở Seoul được xây dựng trên con kênh cùng tên. Để giải quyết tình trạng ô nhiễm môi trường và tiếng ồn do hơn 160.000 phương tiện sử dụng đường cao tốc hàng ngày, Thị trưởng Lee Myung Bak đã đưa ra kế hoạch phá bỏ nó và xây dựng một công viên thay thế.</p>
<p style="text-align: justify;">Phương án được lựa chọn do Kee Yeon Hwang thiết kế, làm sạch kênh và biến nó thành khu vực công cộng. Việc chuyển đổi này đã làm giảm tiếng ồn và mức nhiệt độ ở khu vực xung quanh.</p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-145336 size-full lazyload" src="https://kienviet.net/wp-content/uploads/2018/03/kienviet-chuyen-doi-duong-cao-toc-cong-vien-7.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="725" data-="" title="6 dự án biến đường cao tốc thành công viên 30"></p>
<h3 style="text-align: justify;">Pier Freeway, San Francisco</h3>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-145338 size-full lazyload" src="https://kienviet.net/wp-content/uploads/2018/03/kienviet-chuyen-doi-duong-cao-toc-cong-vien-9.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="757" data-="" title="6 dự án biến đường cao tốc thành công viên 31"></p>
<p style="text-align: justify;">Vào đầu những năm 1980 ở San Francisco, một kế hoạch được đề xuất phá bỏ xa lộ 480 của California và xây dựng một công viên thay thế. Tuy nhiên, phải đến năm 1991, khi đường cao tốc hai tầng này bị hư hại sau trận động đất năm 1989, nó mới bị phá bỏ hoàn toàn. Các nghiên cứu kết luận rằng việc xây dựng lại đường cao tốc tốn kém hơn nhiều so với việc xây dựng một công viên.</p>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145337 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/6-du-an-chuyen-doi-duong-cao-toc-thanh-cong.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="650" data-="" title="6 dự án biến đường cao tốc thành công viên 32"></p>
<p style="text-align: justify;">Ngày nay, nó là một trong những nơi có tầm nhìn đẹp nhất ra Vịnh San Francisco và có nhiều đường dành cho người đi bộ và xe đạp.</p>
<h3 style="text-align: justify;">Madrid Río, Madrid</h3>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145340 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1617027146_151_6-du-an-chuyen-doi-duong-cao-toc-thanh-cong.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="803" data-="" title="6 dự án biến đường cao tốc thành công viên 33"></p>
<p style="text-align: justify;">Năm 2000, dự án công viên Madrid Río được khởi động, nhằm khôi phục cảnh quan của bờ sông Manzares. Tuy nhiên, có một số đoạn của quốc lộ M-30 vượt sông khiến dự án càng thêm khó khăn.</p>
<p style="text-align: justify;">Vì có một số công trình kiến ​​trúc lịch sử liên quan, chẳng hạn như cầu Puente de Segovia lâu đời, nhà thờ Ermita Virgen del Puerto và cầu Puente del Rey, dự án bắt buộc phải duy trì các cấu trúc cổ của thành phố ở giữa công viên.</p>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145339 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1617027165_253_6-du-an-chuyen-doi-duong-cao-toc-thanh-cong.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="731" data-="" title="6 dự án biến đường cao tốc thành công viên 34"></p>
<p style="text-align: justify;">Công viên mở cửa vào năm 2011, cung cấp không gian công cộng cho các hoạt động thể thao, đi bộ và cơ hội tìm hiểu về lịch sử của thành phố. Xa lộ M-30 không bị phá hủy hoàn toàn, nhưng giao thông được chuyển hướng vào các đường hầm dưới lòng đất.</p>
<h3 style="text-align: justify;">Công viên Xa lộ Đông, Milwaukee</h3>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145333 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1617027173_192_6-du-an-chuyen-doi-duong-cao-toc-thanh-cong.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="630" data-="" title="6 dự án biến đường cao tốc thành công viên 35"></p>
<p style="text-align: justify;">Trong những năm 1960, dự án Đường cao tốc Park East được lên kế hoạch để đi vòng quanh khu vực trung tâm thành phố. Tuy nhiên, cư dân phản đối dự án, cho rằng nó sẽ gây ồn ào. Vì lý do này, đường cao tốc đã không bao giờ được hoàn thành và một số khu vực đã bị phá bỏ trong giai đoạn 1999-2002 để phát triển dự án Công viên phía Đông.</p>
<p style="text-align: justify;">Công viên rộng 60 ha, kết nối trung tâm thành phố với bờ sông.</p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-145341 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1617027175_966_6-du-an-chuyen-doi-duong-cao-toc-thanh-cong.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="302" data-="" title="6 dự án biến đường cao tốc thành công viên 36"></p>
<h3 style="text-align: justify;">Alaskan Way, Seattle</h3>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145332 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1617027185_30_6-du-an-chuyen-doi-duong-cao-toc-thanh-cong.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="900" data-="" title="6 dự án biến đường cao tốc thành công viên 37"></p>
<p style="text-align: justify;">Năm 2001, một trận động đất đã phá hủy cây cầu vượt của Xa lộ Alaska ở Seattle. Ban đầu, chính phủ dự định xây dựng lại cây cầu, nhưng sau đó quyết định xây dựng một đường hầm dưới lòng đất bốn làn xe để thay thế. Khu vực cầu cũ trở thành không gian dành cho người đi bộ.</p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-145331 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1617027194_301_6-du-an-chuyen-doi-duong-cao-toc-thanh-cong.jpg" alt="6 dự án biến đường cao tốc thành công viên" width="1200" height="856" data-="" title="6 dự án biến đường cao tốc thành công viên 38"></p>
<p style="text-align: right;"><strong>HN | kienviet.net</strong></p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/6-du-an-bien-duong-cao-toc-thanh-cong-vien/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Độc đáo mái dốc trữ nước mưa ở Bermuda</title>
		<link>https://test-static-enti.bitbucket.io/doc-dao-mai-doc-tru-nuoc-mua-o-bermuda/</link>
					<comments>https://test-static-enti.bitbucket.io/doc-dao-mai-doc-tru-nuoc-mua-o-bermuda/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Mon, 29 Mar 2021 06:43:11 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2482</guid>

					<description><![CDATA[Du khách đến Bermuda có thể nhận thấy những nét kiến ​​trúc rõ nét của nơi này: Trên khắp các hòn đảo, mỗi ngôi nhà đều có mái dốc màu trắng đặc trưng. Cấu trúc mái nhà gắn liền với các nền văn hóa bản địa và các yếu tố địa lý. Lý do thiết kế của mái nhà tương đối đơn giản: Trên đảo không có nguồn nước cố định, người dân hoàn toàn sống dựa vào nước mưa. Để nước mưa không bị lãng phí, dân làng đã dựng một mái nhà bằng phẳng để giảm bớt ảnh hưởng của những trận mưa lớn. Được xây dựng bằng đá vôi, mái nhà đủ nặng để chống bão và màu trắng phản chiếu tia UV từ mặt trời đồng thời giúp làm sạch nước. [&#8230;]]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Du khách đến Bermuda có thể nhận thấy những nét kiến ​​trúc rõ nét của nơi này: Trên khắp các hòn đảo, mỗi ngôi nhà đều có mái dốc màu trắng đặc trưng. Cấu trúc mái nhà gắn liền với các nền văn hóa bản địa và các yếu tố địa lý.</p>
<p style="text-align: justify;">Lý do thiết kế của mái nhà tương đối đơn giản: Trên đảo không có nguồn nước cố định, người dân hoàn toàn sống dựa vào nước mưa. Để nước mưa không bị lãng phí, dân làng đã dựng một mái nhà bằng phẳng để giảm bớt ảnh hưởng của những trận mưa lớn. Được xây dựng bằng đá vôi, mái nhà đủ nặng để chống bão và màu trắng phản chiếu tia UV từ mặt trời đồng thời giúp làm sạch nước.</p>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145836 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/Doc-dao-mai-doc-tru-nuoc-mua-o-Bermuda.jpg" alt="Độc đáo mái dốc trữ nước mưa ở Bermuda" width="1200" height="800" data-="" title="Độc đáo mái dốc trữ nước mưa ở Bermuda 41"></p>
<p style="text-align: justify;">Kỹ thuật này sau đó được viết thành luật Bermuda. Mỗi ngôi nhà mới ở Bermuda hiện phải có 8 gallon (36 lít) không gian trên mỗi foot vuông (0,1 mét vuông) không gian trên mái để chứa nước.</p>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-145835 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616990990_972_Doc-dao-mai-doc-tru-nuoc-mua-o-Bermuda.jpg" alt="Độc đáo mái dốc trữ nước mưa ở Bermuda" width="1200" height="785" data-="" title="Độc đáo mái dốc trữ nước mưa ở Bermuda 42"></p>
<p style="text-align: justify;">Tuy nhiên, khi du lịch của Bermuda phát triển, các hòn đảo bắt đầu gặp vấn đề với nguồn cung cấp nước của chúng. Nhu cầu về nhà ở tăng cao và khả năng chứa nước của mái nhà bị hạn chế. Quần đảo hiện có 6 nhà máy lọc nước đáp ứng nhu cầu của cư dân.</p>
<p style="text-align: right;">HN | kienviet.net</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/doc-dao-mai-doc-tru-nuoc-mua-o-bermuda/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Mang nét mới vào nhà sàn truyền thống</title>
		<link>https://test-static-enti.bitbucket.io/mang-net-moi-vao-nha-san-truyen-thong/</link>
					<comments>https://test-static-enti.bitbucket.io/mang-net-moi-vao-nha-san-truyen-thong/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Thu, 25 Mar 2021 05:59:48 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2437</guid>

					<description><![CDATA[Ngôi nhà được thiết kế bởi Natura Futura Arquitectura, một đơn vị đã linh hoạt đưa những nét truyền thống vào những ngôi nhà phố. Stilts House nằm ở Villamil, Thành phố Guayas, Ecuador. Nó được biết đến là nơi có khí hậu tốt thứ 2 trên thế giới và nổi tiếng với hàng thủ công địa phương. Thông tin dự án: Đơn vị thiết kế: Natura Futura Arquiecture Địa điểm: Playas, Ecuador Nhà thiết kế: Guillermo Morales, Nathaly Gaona, Ramón Vivanco Diện tích: 160 m2 Năm dự án: 2018 Ảnh: JAG Studio Tất cả các vật liệu sử dụng đều là vật liệu địa phương Ngôi nhà được đề xuất sử dụng gạch nung &#8211; một loại vật liệu truyền thống của địa phương và đặc biệt không sử dụng cửa sổ kính, mang [&#8230;]]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Ngôi nhà được thiết kế bởi Natura Futura Arquitectura, một đơn vị đã linh hoạt đưa những nét truyền thống vào những ngôi nhà phố. Stilts House nằm ở Villamil, Thành phố Guayas, Ecuador. Nó được biết đến là nơi có khí hậu tốt thứ 2 trên thế giới và nổi tiếng với hàng thủ công địa phương.</p>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-152260 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/Mang-net-moi-vao-nha-san-truyen-thong-Stilts.jpg" alt="Mang nét mới vào nhà sàn truyền thống" width="1200" height="842" data-="" title="Mang nét mới vào nhà sàn truyền thống 50"></p>
<p style="text-align: justify;">Thông tin dự án:</p>
<ul style="text-align: justify;">
<li>Đơn vị thiết kế: Natura Futura Arquiecture</li>
<li>Địa điểm: Playas, Ecuador</li>
<li>Nhà thiết kế: Guillermo Morales, Nathaly Gaona, Ramón Vivanco</li>
<li>Diện tích: 160 m2</li>
<li>Năm dự án: 2018</li>
<li>Ảnh: JAG Studio</li>
</ul>
<figure id="attachment_152261" class="wp-caption aligncenter" style="width: 1200px;" aria-describedby="caption-attachment-152261"><img loading="lazy" class=" td-modal-image wp-image-152261 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616636977_647_Mang-net-moi-vao-nha-san-truyen-thong-Stilts.jpg" alt="Mang nét mới vào nhà sàn truyền thống" width="1200" height="1907" data-="" title="Mang nét mới vào nhà sàn truyền thống 51">Tất cả các vật liệu sử dụng đều là vật liệu địa phương</figure>
<p style="text-align: justify;">Ngôi nhà được đề xuất sử dụng gạch nung &#8211; một loại vật liệu truyền thống của địa phương và đặc biệt không sử dụng cửa sổ kính, mang lại hiệu quả thông gió tự nhiên và che nắng cần thiết phù hợp với khí hậu nhiệt đới của ngôi nhà. đây.</p>
<figure id="attachment_152263" class="wp-caption aligncenter" style="width: 1200px;" aria-describedby="caption-attachment-152263"><img loading="lazy" class=" td-modal-image wp-image-152263 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616636981_309_Mang-net-moi-vao-nha-san-truyen-thong-Stilts.jpg" alt="Mang nét mới vào nhà sàn truyền thống" width="1200" height="800" data-="" title="Mang nét mới vào nhà sàn truyền thống 52">Sử dụng gạch làm vật liệu chính</figure>
<p style="text-align: justify;">Hệ thống cột được làm bằng gỗ tếch. Mặt bằng tầng 1 được tích hợp với bên ngoài để phục vụ cho việc sinh hoạt hàng ngày của người sử dụng. Một khoảng không gian thoáng đãng ngay trước nhà như một khu nghỉ ngơi với những chiếc võng đung đưa.</p>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-152266 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616636983_685_Mang-net-moi-vao-nha-san-truyen-thong-Stilts.jpg" alt="Mang nét mới vào nhà sàn truyền thống" width="1200" height="754" data-="" title="Mang nét mới vào nhà sàn truyền thống 53"></p>
<p style="text-align: justify;">Ngôi nhà được đề xuất sử dụng vật liệu địa phương như gạch để mang lại sự riêng tư và đảm bảo tính thấm.</p>
<figure id="attachment_152262" class="wp-caption aligncenter" style="width: 1200px;" aria-describedby="caption-attachment-152262"><img loading="lazy" class=" td-modal-image wp-image-152262 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616636986_72_Mang-net-moi-vao-nha-san-truyen-thong-Stilts.jpg" alt="Mang nét mới vào nhà sàn truyền thống" width="1200" height="798" data-="" title="Mang nét mới vào nhà sàn truyền thống 54">Không gian thoáng mát bên trong ngôi nhà</figure>
<p style="text-align: justify;">Thiết kế nhà ở đô thị vẫn đang trong quá trình tìm cách giữ truyền thống trong thiết kế cùng với việc sử dụng tối ưu các nguồn lực sẵn có.</p>
<figure id="attachment_152273" class="wp-caption aligncenter" style="width: 1200px;" aria-describedby="caption-attachment-152273"><img loading="lazy" class=" td-modal-image wp-image-152273 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616636989_650_Mang-net-moi-vao-nha-san-truyen-thong-Stilts.jpg" alt="Mang nét mới vào nhà sàn truyền thống" width="1200" height="935" data-="" title="Mang nét mới vào nhà sàn truyền thống 55">Hệ thống cột được làm bằng gỗ tếch</figure>
<p style="text-align: justify;"><img loading="lazy" class=" td-modal-image aligncenter wp-image-152250 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616636996_289_Mang-net-moi-vao-nha-san-truyen-thong-Stilts.jpg" alt="Mang nét mới vào nhà sàn truyền thống" width="1200" height="1704" data-="" title="Mang nét mới vào nhà sàn truyền thống 56"></p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/mang-net-moi-vao-nha-san-truyen-thong/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Nhà nổi chống bão sử dụng năng lượng xanh</title>
		<link>https://test-static-enti.bitbucket.io/nha-noi-chong-bao-su-dung-nang-luong-xanh/</link>
					<comments>https://test-static-enti.bitbucket.io/nha-noi-chong-bao-su-dung-nang-luong-xanh/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Thu, 25 Mar 2021 05:57:55 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2435</guid>

					<description><![CDATA[Các kiến ​​trúc sư Koen Olthuis và công ty Arkup đã thiết kế những ngôi nhà nổi có thể chống chọi với bão và sử dụng năng lượng hiệu quả. Ngôi nhà nổi có diện tích 400m2, được trang bị pin mặt trời 30kW, pin lithium-ion 1.000kWh và các tấm cách nhiệt. Toàn bộ năng lượng trong ngôi nhà nổi được cung cấp bởi các tấm pin mặt trời trên mái, ngoài ra còn có hệ thống quản lý chất thải, thu gom và làm sạch nước mưa. Ngôi nhà nổi có hệ thống thủy lực giúp neo và ổn định các kết cấu, đồng thời có thể nâng công trình lên 12 mét so với đáy biển để ngăn lũ lụt. Khi nói đến hành trình, hai động cơ điện 136 mã lực có [&#8230;]]]></description>
										<content:encoded><![CDATA[<p style="text-align: justify;">Các kiến ​​trúc sư Koen Olthuis và công ty Arkup đã thiết kế những ngôi nhà nổi có thể chống chọi với bão và sử dụng năng lượng hiệu quả.</p>
<p style="text-align: justify;">Ngôi nhà nổi có diện tích 400m2, được trang bị pin mặt trời 30kW, pin lithium-ion 1.000kWh và các tấm cách nhiệt. Toàn bộ năng lượng trong ngôi nhà nổi được cung cấp bởi các tấm pin mặt trời trên mái, ngoài ra còn có hệ thống quản lý chất thải, thu gom và làm sạch nước mưa.</p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-142519 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="542" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 65"></p>
<p style="text-align: justify;">Ngôi nhà nổi có hệ thống thủy lực giúp neo và ổn định các kết cấu, đồng thời có thể nâng công trình lên 12 mét so với đáy biển để ngăn lũ lụt. Khi nói đến hành trình, hai động cơ điện 136 mã lực có thể đưa cấu trúc này đi 7 hải lý / giờ.</p>
<figure id="attachment_142518" class="wp-caption aligncenter" style="width: 1200px;" aria-describedby="caption-attachment-142518"><img loading="lazy" class=" td-modal-image wp-image-142518 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616628712_351_Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="542" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 66">Động cơ giúp ngôi nhà di chuyển</figure>
<figure id="attachment_142520" class="wp-caption aligncenter" style="width: 1200px;" aria-describedby="caption-attachment-142520"><img loading="lazy" class=" td-modal-image wp-image-142520 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616628714_391_Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="542" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 67">Cọc neo cố định nâng nhà hơn 12m</figure>
<p style="text-align: justify;">Các nhà sản xuất dự định bán mỗi căn nhà ở mức hơn 2 triệu USD. Nguyên mẫu đầu tiên sẽ được xây dựng trên sông Miami vào năm 2018.</p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-142517 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616628716_764_Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="542" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 68"></p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-142522 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616628718_284_Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="542" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 69"></p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-142523 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616628720_203_Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="598" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 70"></p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-142515 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616628723_641_Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="598" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 71"></p>
<p><img loading="lazy" class=" td-modal-image aligncenter wp-image-142516 size-full lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1616628726_659_Nha-noi-chong-bao-su-dung-nang-luong-xanh.jpg" alt="Nhà nổi chống bão sử dụng năng lượng xanh" width="1200" height="598" data-="" title="Nhà nổi chống bão sử dụng năng lượng xanh 72"></p>
<p style="text-align: right;">HN | kienviet.net</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/nha-noi-chong-bao-su-dung-nang-luong-xanh/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Vòm nubian cổ xưa &#8211; Một giải pháp hiện đại cho vùng nông thôn Tanzania</title>
		<link>https://test-static-enti.bitbucket.io/vom-nubian-co-xua-mot-giai-phap-hien-dai-cho-vung-nong-thon-tanzania/</link>
					<comments>https://test-static-enti.bitbucket.io/vom-nubian-co-xua-mot-giai-phap-hien-dai-cho-vung-nong-thon-tanzania/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 18:02:05 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2062</guid>

					<description><![CDATA[Gia đình Jorejick ở vùng nông thôn Tanzania cần một ngôi nhà mới bền vững và giá cả phải chăng. Các kiến ​​trúc sư Elia Tonutti và Mengzhu Jiang đã chia sẻ đề xuất của họ, tập trung vào việc sử dụng hệ thống mái vòm nubian cổ đại từ Ai Cập để xây dựng một ngôi nhà với cách nhiệt tốt từ đất bản địa. môn Địa lý. Mục đích của dự án này là chia sẻ cách giải thích đương đại về công nghệ cổ đại này trên khắp châu Phi. Thông tin dự án Tên dự án: Nubian home Cuộc thi: nhảy vòm Kiến trúc sư: Mengzhu Jiang, Elia Tonutti Ghi chú của các kiến ​​trúc sư Mặt tiền hướng nam Sau khi nghiên cứu các hệ thống xây dựng hiện có [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Gia đình Jorejick ở vùng nông thôn Tanzania cần một ngôi nhà mới bền vững và giá cả phải chăng. Các kiến ​​trúc sư Elia Tonutti và Mengzhu Jiang đã chia sẻ đề xuất của họ, tập trung vào việc sử dụng hệ thống mái vòm nubian cổ đại từ Ai Cập để xây dựng một ngôi nhà với cách nhiệt tốt từ đất bản địa. môn Địa lý. Mục đích của dự án này là chia sẻ cách giải thích đương đại về công nghệ cổ đại này trên khắp châu Phi.</p>
<h4>Thông tin dự án</h4>
<ul>
<li>Tên dự án: Nubian home</li>
<li>Cuộc thi: nhảy vòm</li>
<li>Kiến trúc sư: Mengzhu Jiang, Elia Tonutti</li>
</ul>
<h4>Ghi chú của các kiến ​​trúc sư</h4>
<figure class="wp-block-image size-full"><img class="wp-image-208814 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/Vom-nubian-co-xua-Mot-giai-phap-hien-dai.jpg" alt="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 82">Mặt tiền hướng nam</figure>
<p>Sau khi nghiên cứu các hệ thống xây dựng hiện có ở vùng nông thôn Tanzania, Jiang và Tonutti nhận thấy rằng những vấn đề mà gia đình Jorejick gặp phải có thể áp dụng cho nhiều ngôi nhà khác trong khu vực. Các phương pháp xây dựng hiện tại như sử dụng bùn và cành cây bị ảnh hưởng bởi xói mòn theo thời gian, do đó cần phải bảo trì thường xuyên, trong khi nguồn tài nguyên gỗ khan hiếm do phá rừng và gạch đắt đỏ và không bền vững với môi trường.</p>
<figure class="wp-block-image size-full"><img class="wp-image-209177 lazyload" src="https://kienviet.net/wp-content/uploads/2020/10/1.jpg" alt="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 83">Sân</figure>
<p>Mái vòm nubian được xây dựng ở nubia &#8211; một khu vực chạy dọc theo sông Nile, nơi một trong những nền văn minh sớm nhất ở châu Phi cổ đại phát triển mạnh mẽ. Hệ thống này có chi phí thấp vì phần lớn các công trình sử dụng gạch nung làm từ đất địa phương và không cần ván khuôn. Kết quả là, các kiến ​​trúc sư đã có thể thiết kế một ngôi nhà rộng 2368 ft2 (220 m2) cho 13 thành viên trong gia đình với chi phí chỉ $ 15.684 USD, bao gồm cả nội thất và nhân công bổ sung.</p>
<figure class="wp-block-image size-full"><img class="wp-image-208804 lazyload" src="https://kienviet.net/wp-content/uploads/2020/09/8-4.png" alt="Mái vòm Nubian cổ đại - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 84">Phòng khách</figure>
<p>Tính mô đun của hệ thống cho phép thiết kế được xây dựng theo từng giai đoạn của thời gian. Hiểu được mức độ khó khăn của việc xây dựng, bộ đôi thiết kế cũng minh họa các sơ đồ quy trình xây dựng cho thấy hệ thống có thể được triển khai dễ dàng như thế nào.</p>
<figure class="wp-block-image size-full"><img class="wp-image-208808 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615384928_59_Vom-nubian-co-xua-Mot-giai-phap-hien-dai.jpg" alt="Mái vòm Nubian cổ đại - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 85">Axonometric của trang web</figure>
<p>Mengzhu Jiang và Elia Tonutti muốn chia sẻ công nghệ xây dựng này với gia đình Jorejick để không chỉ giúp họ xây dựng một ngôi nhà tiện nghi với chi phí hợp lý mà còn cung cấp kiến ​​thức có thể chia sẻ với cộng đồng. đồng bên ngoài Getamock (Tanzania). Dự án nhằm cải thiện điều kiện sống và có khả năng tạo việc làm mới cho những người có những kỹ năng này.</p>
<figure class="wp-block-image size-full"><img class="wp-image-208803 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/Vom-nubian-co-xua-Mot-giai-phap-hien-dai.png" alt="Mái vòm Nubian cổ đại - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 86">Axonometric</figure>
<figure class="wp-block-image size-full"><img class="wp-image-208811 lazyload" src="https://kienviet.net/wp-content/uploads/2020/09/6-2.png" alt="Mái vòm Nubian cổ đại - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 87">Đất</figure>
<figure class="wp-block-image size-full"><img class="wp-image-208807 lazyload" src="https://kienviet.net/wp-content/uploads/2020/09/3-2.png" alt="Mái vòm Nubian cổ đại - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 88">Quá trình xây dựng vòm nubian</figure>
<figure class="wp-block-image size-full"><img class="wp-image-208809 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615385007_816_Vom-nubian-co-xua-Mot-giai-phap-hien-dai.png" alt="Mái vòm Nubian cổ đại - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 89">Các giai đoạn xây dựng</figure>
<figure class="wp-block-image size-full"><img class="wp-image-208810 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615385016_315_Vom-nubian-co-xua-Mot-giai-phap-hien-dai.png" alt="Mái vòm Nubian cổ đại - Một giải pháp hiện đại cho vùng nông thôn Tanzania" data-="" title="Vòm nubian cổ xưa - Một giải pháp hiện đại cho vùng nông thôn Tanzania 90">Thông gió và thu gom nước</figure>
<p class="has-text-align-right">Tổng hợp | Anh Tuấn (Nguồn: Designboom)</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/vom-nubian-co-xua-mot-giai-phap-hien-dai-cho-vung-nong-thon-tanzania/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Chung cư &#8220;Khu rừng thẳng đứng&#8221; bị bỏ hoang vì quá nhiều muỗi</title>
		<link>https://test-static-enti.bitbucket.io/chung-cu-khu-rung-thang-dung-bi-bo-hoang-vi-qua-nhieu-muoi/</link>
					<comments>https://test-static-enti.bitbucket.io/chung-cu-khu-rung-thang-dung-bi-bo-hoang-vi-qua-nhieu-muoi/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 18:01:24 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2065</guid>

					<description><![CDATA[Những tòa tháp chung cư phủ đầy cây xanh là cảnh tượng hiếm thấy ở các thành phố trên thế giới. Trồng cây xanh được xem là cách tạo không gian sống thoáng đãng, mát mẻ cho cư dân. Tuy nhiên, không phải lúc nào từ ý tưởng đến kết quả cũng như ý. “Khu rừng thẳng đứng” của dự án Qiyi City Forest Garden là một ví dụ điển hình. Chung cư Qiyi City Forest Garden tọa lạc tại Thành Đô, Tứ Xuyên là một trong nhiều dự án xanh nhằm cải thiện chất lượng không khí ở Trung Quốc. Chung cư được xây dựng vào năm 2018 với tổng số 826 căn hộ với ban công của các căn hộ được thiết kế thông thoáng tạo không gian cho cây xanh phát triển. [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Những tòa tháp chung cư phủ đầy cây xanh là cảnh tượng hiếm thấy ở các thành phố trên thế giới. Trồng cây xanh được xem là cách tạo không gian sống thoáng đãng, mát mẻ cho cư dân. Tuy nhiên, không phải lúc nào từ ý tưởng đến kết quả cũng như ý. “Khu rừng thẳng đứng” của dự án Qiyi City Forest Garden là một ví dụ điển hình.</p>
<p>Chung cư Qiyi City Forest Garden tọa lạc tại Thành Đô, Tứ Xuyên là một trong nhiều dự án xanh nhằm cải thiện chất lượng không khí ở Trung Quốc. Chung cư được xây dựng vào năm 2018 với tổng số 826 căn hộ với ban công của các căn hộ được thiết kế thông thoáng tạo không gian cho cây xanh phát triển. Dự án hứa hẹn sẽ mang đến “một khu rừng thẳng đứng” ngay tại siêu đô thị này, với sứ mệnh tô thêm màu xanh cho thành phố và được hứa hẹn sẽ trở thành thiên đường xanh cho cư dân, nơi ai cũng có cơ hội. sống hòa mình với thiên nhiên, cây cối.</p>
<figure class="wp-block-image size-full" data-amp-noloading="true" data-amp-lightbox="true"><img class="wp-image-208512 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/Chung-cu-Khu-rung-thang-dung-bi-bo-hoang-vi.jpg" alt="Căn hộ, chung cư " data-="" title="Chung cư &quot;Khu rừng thẳng đứng&quot; bị bỏ hoang vì quá nhiều muỗi 97"></figure>
<p>Có tới 20 loại cây khác nhau được trồng trên ban công của mỗi căn hộ. Cây xanh tươi tốt có nhiệm vụ lọc không khí và ô nhiễm tiếng ồn trong thành phố. Thành Đô là một trong những thành phố lớn của Trung Quốc nên đương nhiên tình trạng ô nhiễm khói bụi rất nghiêm trọng. Dự án khu dân cư “rừng thẳng đứng” vì thế nhanh chóng trở nên nổi tiếng sau khi hoàn thành với 826 căn hộ được bán hết vào tháng 4/2019.</p>
<figure class="wp-block-image size-full" data-amp-noloading="true" data-amp-lightbox="true"><img class="wp-image-208511 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398163_386_Chung-cu-Khu-rung-thang-dung-bi-bo-hoang-vi.jpg" alt="Căn hộ, chung cư " data-="" title="Chung cư &quot;Khu rừng thẳng đứng&quot; bị bỏ hoang vì quá nhiều muỗi 98"></figure>
<p>Tuy nhiên, thay vì hình ảnh của một thiên đường sinh thái hiện đại, các tòa nhà hiện tại trông giống như bối cảnh của một bộ phim hoang tàn, hậu tận thế. Vì dự án thử nghiệm này đã gặp phải một vấn đề lớn: quá nhiều cây cối mang theo côn trùng &#8211; đặc biệt là muỗi. Theo báo chí Trung Quốc, đến thời điểm này, 8 tòa chung cư chính cao 30 tầng gần như bị cây xanh &#8220;nuốt chửng&#8221; vì không có người chăm sóc, cắt tỉa cây xanh thường xuyên.</p>
<figure class="wp-block-image size-full" data-amp-noloading="true" data-amp-lightbox="true"><img class="wp-image-208510 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398164_189_Chung-cu-Khu-rung-thang-dung-bi-bo-hoang-vi.jpg" alt="Căn hộ, chung cư " data-="" title="Chung cư &quot;Khu rừng thẳng đứng&quot; bị bỏ hoang vì quá nhiều muỗi 99"></figure>
<p>Lo lắng trước tình hình dịch bệnh do côn trùng gây ra, nhiều gia đình đã phải rời khỏi nơi ở. Theo Global Daily, chỉ có 10 hộ gia đình tiếp tục sống trong khu chung cư “xanh” này.</p>
<figure class="wp-block-image size-full" data-amp-noloading="true" data-amp-lightbox="true"><img class="wp-image-208509 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398167_514_Chung-cu-Khu-rung-thang-dung-bi-bo-hoang-vi.jpg" alt="Căn hộ, chung cư " data-="" title="Chung cư &quot;Khu rừng thẳng đứng&quot; bị bỏ hoang vì quá nhiều muỗi 100"></figure>
<p>Những gia đình chuyển đến đây vài tháng cũng cho biết, những loại cây này thu hút côn trùng như muỗi, sâu bọ khiến cuộc sống của họ khó chịu. Một số cư dân mạng Trung Quốc cũng bày tỏ sự lo lắng về dự án khu dân cư này, trong đó một số băn khoăn về độ an toàn khi cành cây có thể rơi từ tầng cao xuống nhà của họ. Bên cạnh đó, cũng có người bày tỏ sự thích thú với lối kiến ​​trúc gần gũi với thiên nhiên. Đối với một đất nước bị ô nhiễm không khí nặng nề như Trung Quốc, những tòa nhà như thế này là một ý tưởng rất sáng tạo.</p>
<figure class="wp-block-image size-full" data-amp-noloading="true" data-amp-lightbox="true"><img class="wp-image-208508 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398168_404_Chung-cu-Khu-rung-thang-dung-bi-bo-hoang-vi.jpg" alt="Căn hộ, chung cư " data-="" title="Chung cư &quot;Khu rừng thẳng đứng&quot; bị bỏ hoang vì quá nhiều muỗi 101"></figure>
<p>Chủ đầu tư cũng cho biết họ sẽ bảo trì những ban công này 4 lần / năm để đảm bảo sự an toàn và tươi tốt cho tòa nhà. Đại diện của họ cũng xác nhận rằng sẽ nỗ lực để kiểm soát côn trùng và động vật gây hại.</p>
<figure class="wp-block-image size-full" data-amp-noloading="true" data-amp-lightbox="true"><img class="wp-image-208507 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398169_648_Chung-cu-Khu-rung-thang-dung-bi-bo-hoang-vi.jpg" alt="Căn hộ, chung cư " data-="" title="Chung cư &quot;Khu rừng thẳng đứng&quot; bị bỏ hoang vì quá nhiều muỗi 102"></figure>
<p>Qiyi City Forest Garden chỉ là một trong nhiều dự án &#8220;rừng thẳng đứng&#8221; ở Trung Quốc. Các dự án như thế này nhằm mục đích hấp thụ carbon dioxide và cung cấp oxy trong lành để giúp khắc phục tình trạng ô nhiễm không khí tại các thành phố hàng tỷ dân của đất nước.</p>
<p class="has-text-align-right">Tổng hợp</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/chung-cu-khu-rung-thang-dung-bi-bo-hoang-vi-qua-nhieu-muoi/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Công nghệ ánh sáng phủ xanh không gian sống</title>
		<link>https://test-static-enti.bitbucket.io/cong-nghe-anh-sang-phu-xanh-khong-gian-song/</link>
					<comments>https://test-static-enti.bitbucket.io/cong-nghe-anh-sang-phu-xanh-khong-gian-song/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 10 Mar 2021 18:00:37 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2067</guid>

					<description><![CDATA[Dưới tốc độ đô thị hóa nhanh chóng ở Việt Nam, các chung cư, nhà cao tầng mọc lên xâm lấn mảng xanh tự nhiên. Nhu cầu đưa mảng xanh vào không gian sống ngày một tăng cao. Vậy đâu là giải pháp để duy trì những mảng xanh và trồng cây ngay cả trong nhà và không gian kín? Từ nhu cầu sống với mảng xanh Tiến sĩ khoa học môi trường Bill Wolverton từng đưa ra lời khuyên rằng nên có ít nhất 2 chậu trên 30m2 không gian sống. Không gian xanh trong phòng có khả năng giảm thiểu 87% lượng khí độc hại, hấp thụ các chất độc hại trong sơn tường, thảm trải sàn… Không gian xanh trong văn phòng còn có tác dụng tăng khả năng tập trung khi [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Dưới tốc độ đô thị hóa nhanh chóng ở Việt Nam, các chung cư, nhà cao tầng mọc lên xâm lấn mảng xanh tự nhiên. Nhu cầu đưa mảng xanh vào không gian sống ngày một tăng cao. Vậy đâu là giải pháp để duy trì những mảng xanh và trồng cây ngay cả trong nhà và không gian kín?</p>
<h3>Từ nhu cầu sống với mảng xanh</h3>
<p>Tiến sĩ khoa học môi trường Bill Wolverton từng đưa ra lời khuyên rằng nên có ít nhất 2 chậu trên 30m2 không gian sống. Không gian xanh trong phòng có khả năng giảm thiểu 87% lượng khí độc hại, hấp thụ các chất độc hại trong sơn tường, thảm trải sàn…</p>
<figure class="aligncenter size-full"><img class="wp-image-201142 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/Cong-nghe-anh-sang-phu-xanh-khong-gian-song.jpg" alt="Không gian sống" data-="" title="Công nghệ ánh sáng phủ xanh không gian sống 110"></figure>
<p class="has-text-align-center">Không gian xanh trong văn phòng còn có tác dụng tăng khả năng tập trung khi làm việc và giảm stress hiệu quả</p>
<p>Sau cuộc suy thoái kinh tế 2008, người ta không còn “nghiện” những thiết kế nội thất rườm rà mà thay vào đó là phong cách tối giản. Khoảng trống tăng lên, và chỉ có cây xanh là sự bổ sung hoàn hảo, vừa phù hợp với mong muốn trang trí, vừa giúp làm dịu mắt và có lợi cho sức khỏe. Tại Việt Nam, khi giá bất động sản tăng cao, việc sở hữu một ngôi nhà vườn rộng cũng trở nên khó khăn hơn. Lúc này, di dời mảng xanh vào nhà trở thành giải pháp hợp lý.</p>
<figure class="aligncenter size-full"><img class="wp-image-201143 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398242_27_Cong-nghe-anh-sang-phu-xanh-khong-gian-song.jpg" alt="Công nghệ ánh sáng phủ xanh không gian sống" data-="" title="Công nghệ ánh sáng phủ xanh không gian sống 111"></figure>
<p class="has-text-align-center">Mang màu xanh vào nhà không chỉ làm đẹp không gian sống mà còn tốt cho sức khỏe</p>
<h3>Kết hợp giữa công nghệ chiếu sáng xanh và chiếu sáng kiến ​​trúc</h3>
<p>Chị Lê Thị Nghiêm (Q.2, TP.HCM) chia sẻ với Kiến Việt: “Mỗi khi trồng cây trong nhà, cây rất sớm héo úa, hoặc phát triển chậm mặc dù tôi chăm sóc cây theo đúng quy trình. các chỉ dẫn của người. bán &#8220;. Đây có lẽ không chỉ là vấn đề cá nhân mà mọi người trồng cây trong nhà đều sẽ có chung một câu hỏi.</p>
<p>Cây cần ánh sáng tự nhiên để tồn tại. Trung bình mỗi cây cần 6 &#8211; 8 tiếng tiếp xúc với ánh nắng mỗi ngày, đối với những cây ưa tối cũng cần 3 &#8211; 4 tiếng quang hợp với ánh nắng.</p>
<p>Vào đầu những năm 1960, công nghệ chiếu sáng mảng xanh đã được thử nghiệm bằng cách sử dụng đèn khí. Vào những năm 1980, Nhật Bản là quốc gia đầu tiên mở nhà kính trồng rau bằng đèn HID. Đến năm 2005 là cột mốc đánh dấu sự bùng nổ của đèn LED. Năm 2016, Hoa Kỳ là quốc gia đầu tiên trên thế giới sử dụng đèn LED chiếu sáng vảy xanh.</p>
<p>So với đèn HID, đèn LED có tuổi thọ cao hơn (từ 50.000 giờ sử dụng trở lên, có thể đạt 100.000 giờ) do nhiệt lượng tỏa ra thấp hơn đèn cao áp, bảo vệ môi trường và sức khỏe con người. sử dụng, đồng thời phù hợp hơn với không gian nhỏ. Đặc biệt, công ty chiếu sáng Unios (Australia) và Citizens (Nhật Bản) đã cùng nhau nghiên cứu và phát triển hai dòng chip LED là Flo và Flo-P để tạo ra các dải quang phổ khác nhau cho phù hợp với sự phát triển. của cây cũng như các sản phẩm đèn đa dạng, đáp ứng nhu cầu thẩm mỹ và giúp các kiến ​​trúc sư thăng hoa trong thiết kế của mình.</p>
<figure class="aligncenter size-full"><img class="wp-image-201144 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398248_752_Cong-nghe-anh-sang-phu-xanh-khong-gian-song.jpg" alt="Công nghệ chiếu sáng" data-="" title="Công nghệ ánh sáng phủ xanh không gian sống 112"></figure>
<p class="has-text-align-center">Công nghệ chiếu sáng xanh được áp dụng ngay tại công ty Unios</p>
<p>Unios cung cấp các dòng đèn LED chuyên dụng, điển hình là dòng đèn Kobe sử dụng chip Float, mang đến giải pháp duy trì mảng xanh và trồng cây trong nhà. Một nghiên cứu của công ty Unios trên 7 loại cây cũng cho thấy tính ưu việt và đảm bảo sự phát triển của cây khi hấp thụ ánh sáng của đèn Flo Kobe cũng như tính năng bảo vệ môi trường của loại đèn này.</p>
<figure class="aligncenter size-full"><img class="wp-image-201145 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398254_492_Cong-nghe-anh-sang-phu-xanh-khong-gian-song.jpg" alt="Công nghệ ánh sáng phủ xanh không gian sống" data-="" title="Công nghệ ánh sáng phủ xanh không gian sống 113"></figure>
<p class="has-text-align-center">Quán Bar Botanik Café ở Úc sử dụng Đèn theo dõi Kobe từ Unios</p>
<h3>Ánh sáng làm vườn &#8211; giải pháp chiếu sáng mảng xanh</h3>
<p>Với quá trình nghiên cứu lâu dài và cơ sở dữ liệu hơn 100.000 loại cây khác nhau, Unios sẽ cung cấp các giải pháp chiếu sáng bao gồm góc chiếu, độ rọi, thời gian chiếu sáng, thiết kế vị trí đèn cụ thể &#8230; khi khách hàng cung cấp đầy đủ thông tin về loại cây, thời gian quang hợp của cây và kích thước của mảng xanh. Giải pháp Ánh sáng Làm vườn của Unios có thể giúp theo dõi và cải thiện hương thơm của hoa hoặc hương vị trái cây, độ xanh của lá, sự phát triển của cây &#8230;</p>
<p>Người sáng lập và tổng giám đốc Unios Paley Ho &#8211; Người đạt giải thưởng 40under40 Business News ở Tây Úc cho biết: “Chúng tôi luôn áp dụng các phương pháp mới để cải thiện thiết kế và chức năng của doanh nghiệp mình. sản phẩm của tôi &#8220;. Vì sứ mệnh này, Unios đã tự hào cung cấp đèn chiếu sáng cho nhiều đơn vị như tập đoàn khách sạn Hilton (khách sạn 5 sao Green Star &#8211; chứng nhận hàng đầu của Úc về tính bền vững và thân thiện với môi trường, tương tự như tiêu chuẩn LEED của Mỹ vốn rất được ưa chuộng tại Việt Nam), Khách sạn Jackalope của Năm, sân thể thao lâu đời nhất Australia Junction Oval &#8230;</p>
<figure class="aligncenter size-full"><img class="wp-image-201146 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398256_766_Cong-nghe-anh-sang-phu-xanh-khong-gian-song.jpg" alt="Ánh sáng làm vườn" data-="" title="Công nghệ ánh sáng phủ xanh không gian sống 114"></figure>
<p class="has-text-align-center">Thiết kế chiếu sáng Unios mang đến sự sang trọng cho DoubleTree by Hilton ở Northbridge (Úc)</p>
<figure class="aligncenter size-full"><img class="wp-image-201147 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398259_50_Cong-nghe-anh-sang-phu-xanh-khong-gian-song.jpg" alt="Ánh sáng làm vườn" data-="" title="Công nghệ ánh sáng phủ xanh không gian sống 115"></figure>
<p class="has-text-align-center">Khách sạn Jackalope đã giành được giải thưởng Khách sạn của năm năm 2017</p>
<figure class="aligncenter size-large"><img class="wp-image-201148 lazyload" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/1615398263_91_Cong-nghe-anh-sang-phu-xanh-khong-gian-song.jpg" alt="Ánh sáng làm vườn" data-="" title="Công nghệ ánh sáng phủ xanh không gian sống 116"></figure>
<p class="has-text-align-center">Junction Oval là một sân thể thao nổi tiếng ở Melbourne, Úc và là trụ sở của Cricket Victoria</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/cong-nghe-anh-sang-phu-xanh-khong-gian-song/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp</title>
		<link>https://test-static-enti.bitbucket.io/10-y-tuong-thiet-ke-cau-thang-cho-nha-co-gac-lung-chat-hep/</link>
					<comments>https://test-static-enti.bitbucket.io/10-y-tuong-thiet-ke-cau-thang-cho-nha-co-gac-lung-chat-hep/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 19 Aug 2020 07:37:10 +0000</pubDate>
				<category><![CDATA[Nội Thất]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=392</guid>

					<description><![CDATA[Với những mẫu thiết kế cầu thang cho nhà có gác lửng dưới đây, không gian nhà ở dù chật hẹp đến đâu cũng trở nên rộng rãi, giúp chủ nhân tận dụng được tối đa diện tích sử dụng. Chiếc cầu thang màu đen xoắn quanh trục vừa mang nét mềm mại vừa chứa đựng sự vững vàng, chắc chắn và an toàn. Giữa không gian nội thất hiện đại và cá tính, chiếc cầu thang trở thành điểm nhấn xinh đẹp và ấn tượng mà ta không thể bỏ qua. Chiếc cầu thang đẹp cho nhà gác lửng nhỏ bằng gỗ ấn tượng không chiếm quá nhiều diện tích giúp chủ nhân tận dụng tối đa được diện tích sử dụng. Thiết kế cầu thang đẹp cho nhà gác lửng đi liền với [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Với những mẫu thiết kế cầu thang cho nhà có gác lửng dưới đây, không gian nhà ở dù chật hẹp đến đâu cũng trở nên rộng rãi, giúp chủ nhân tận dụng được tối đa diện tích sử dụng.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 900px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Chiếc cầu thang màu đen xoắn quanh trục vừa mang nét mềm mại vừa chứa đựng sự vững vàng, chắc chắn và an toàn. Giữa không gian nội thất hiện đại và cá tính, chiếc cầu thang trở thành điểm nhấn xinh đẹp và ấn tượng mà ta không thể bỏ qua." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 127"></p>
<p style="margin-left: 0in; margin-right: 0in;">Chiếc cầu thang màu đen xoắn quanh trục vừa mang nét mềm mại vừa chứa đựng sự vững vàng, chắc chắn và an toàn. Giữa không gian nội thất hiện đại và cá tính, chiếc cầu thang trở thành điểm nhấn xinh đẹp và ấn tượng mà ta không thể bỏ qua.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 450px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821701_425_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Chiếc cầu thang đẹp cho nhà gác lửng nhỏ bằng gỗ ấn tượng không chiếm quá nhiều diện tích giúp chủ nhân tận dụng tối đa được diện tích sử dụng." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 128"></p>
<p style="margin-left: 0in; margin-right: 0in;">Chiếc cầu thang đẹp cho nhà gác lửng nhỏ bằng gỗ ấn tượng không chiếm quá nhiều diện tích giúp chủ nhân tận dụng tối đa được diện tích sử dụng.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 450px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821702_299_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Thiết kế cầu thang đẹp cho nhà gác lửng đi liền với vách ngăn phía dưới vừa đơn giản vừa độc đáo, mang lại cảm giác không gian được rộng mở, hài hòa." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 129"></p>
<p style="margin-left: 0in; margin-right: 0in;">Thiết kế cầu thang đẹp cho nhà gác lửng đi liền với vách ngăn phía dưới vừa đơn giản vừa độc đáo, mang lại cảm giác không gian được rộng mở, hài hòa.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 428px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821702_282_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Phong cách cầu thang treo hiện đại, độc đáo màu đen thể hiện phong cách sống trẻ trung và đầy ấn tượng. Đối với việc bố trí cầu thang đẹp cho nhà gác lửng thì đây chính là một phương án tương đối khả thi." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 130"></p>
<p style="margin-left: 0in; margin-right: 0in;">Phong cách cầu thang treo hiện đại, độc đáo màu đen thể hiện phong cách sống trẻ trung và đầy ấn tượng. Đối với việc bố trí cầu thang đẹp cho nhà gác lửng thì đây chính là một phương án tương đối khả thi.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 400px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821702_747_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Cầu thang dạng treo với các bậc thang bằng gỗ, tay vịn bằng kim loại cũng là lựa chọn tối ưu giúp tiết kiệm diện tích mà vẫn đảm bảo được sự an toàn và thẩm mỹ." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 131"></p>
<p style="margin-left: 0in; margin-right: 0in;">Cầu thang dạng treo với các bậc thang bằng gỗ, tay vịn bằng kim loại cũng là lựa chọn tối ưu giúp tiết kiệm diện tích mà vẫn đảm bảo được sự an toàn và thẩm mỹ.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 400px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821703_625_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Ngôi nhà nhỏ này sử dụng đa phần mặt sàn tầng một để bố trí phòng khách và một phần nhỏ diện tích làm gác lửng. Việc sử dụng cầu thang kiểu hộp gỗ, tích hợp thêm chức năng lưu trữ rất tiện dụng cho chủ nhân ngôi nhà." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 132"></p>
<p style="margin-left: 0in; margin-right: 0in;">Ngôi nhà nhỏ này sử dụng đa phần mặt sàn tầng một để bố trí phòng khách và một phần nhỏ diện tích làm gác lửng. Việc sử dụng cầu thang kiểu hộp gỗ, tích hợp thêm chức năng lưu trữ rất tiện dụng cho chủ nhân ngôi nhà.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 473px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821703_919_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Những bậc cầu thang dẫn lên giường ngủ trên gác lửng này cũng là những chiếc tủ đựng quần áo. Chỉ một chiếc cầu thang đã giải quyết được cả hai chức năng, thay thế cho những cầu thang chiếm nhiều diện tích và tủ đứng cồng kềnh." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 133"></p>
<p style="margin-left: 0in; margin-right: 0in;">Những bậc cầu thang dẫn lên giường ngủ trên gác lửng này cũng là những chiếc tủ đựng quần áo. Chỉ một chiếc cầu thang đã giải quyết được cả hai chức năng, thay thế cho những cầu thang chiếm nhiều diện tích và tủ đứng cồng kềnh.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 399px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821703_616_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Sử dụng chất liệu gỗ sậm màu cho cả sàn nhà và cầu thang cũng là một lựa chọn hợp lý cho những ngôi nhà nhỏ chật hẹp. Phía bên dưới cầu thang được tận dụng tối đa cho mục đích lưu trữ đồ đạc nhằm tiết kiệm không gian." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 134"></p>
<p style="margin-left: 0in; margin-right: 0in;">Sử dụng chất liệu gỗ sậm màu cho cả sàn nhà và cầu thang cũng là một lựa chọn hợp lý cho những ngôi nhà nhỏ chật hẹp. Phía bên dưới cầu thang được tận dụng tối đa cho mục đích lưu trữ đồ đạc nhằm tiết kiệm không gian.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 767px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821703_6_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Cầu thang bằng gỗ trắng đơn giản, gọn gàng phù hợp cho những ngôi nhà có không gian chật hẹp và được chủ nhà tận dụng không gian bên dưới phục vụ cho công việc của mình." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 135"></p>
<p style="margin-left: 0in; margin-right: 0in;">Cầu thang bằng gỗ trắng đơn giản, gọn gàng phù hợp cho những ngôi nhà có không gian chật hẹp và được chủ nhà tận dụng không gian bên dưới phục vụ cho công việc của mình.</p>
<p style="margin-left: 0in; margin-right: 0in; text-align: center;"><img class="lazyload aligncenter" style="height: 400px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/1597821703_336_10-y-tuong-thiet-ke-cau-thang-cho-nha-co.jpeg" alt="Với thiết kế cầu thang cho nhà có gác lửng sử dụng chất liệu gỗ đồng bộ với sàn, nội thất đã đem đến một không gian rộng rãi và thoáng đãng hơn." title="10 ý tưởng thiết kế cầu thang cho nhà có gác lửng chật hẹp 136"></p>
<p style="margin-left: 0in; margin-right: 0in;">Với thiết kế cầu thang cho nhà có gác lửng sử dụng chất liệu gỗ đồng bộ với sàn, nội thất đã đem đến một không gian rộng rãi và thoáng đãng hơn.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/10-y-tuong-thiet-ke-cau-thang-cho-nha-co-gac-lung-chat-hep/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
