<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Sketchup Viewer &#8211; Nhà Đẹp A-Z</title>
	<atom:link href="https://test-static-enti.bitbucket.io/tag/sketchup-viewer/feed/" rel="self" type="application/rss+xml" />
	<link>https://test-static-enti.bitbucket.io/</link>
	<description>Chuyên trang tổng hợp kiến trúc và nhà đẹp!</description>
	<lastBuildDate>Mon, 19 Apr 2021 04:39:06 +0000</lastBuildDate>
	<language>vi</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.2</generator>

<image>
	<url>https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/cropped-favicon-aznhadep-32x32.png</url>
	<title>Sketchup Viewer &#8211; Nhà Đẹp A-Z</title>
	<link>https://test-static-enti.bitbucket.io/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc</title>
		<link>https://test-static-enti.bitbucket.io/sketchup-viewer-khai-thac-cong-nghe-3d-thuc-tai-ao-trong-thiet-ke-kien-truc/</link>
					<comments>https://test-static-enti.bitbucket.io/sketchup-viewer-khai-thac-cong-nghe-3d-thuc-tai-ao-trong-thiet-ke-kien-truc/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Mon, 19 Apr 2021 04:39:04 +0000</pubDate>
				<category><![CDATA[Do It Yourself]]></category>
		<category><![CDATA[Sketchup Viewer]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=2639</guid>

					<description><![CDATA[Nếu là một fan của Iron Man, chắc hẳn bạn không còn quá xa lạ với hình ảnh Tony Stark sử dụng một loại công cụ mô phỏng 3D thực tế ảo để truy lùng kẻ thù. Tưởng chừng chỉ có trong phim Marvel nhưng các nhà khoa học của Trimple đã nghiên cứu và cho ra đời một ứng dụng mang tên Sketchup Viewer, giúp bạn trải nghiệm mô phỏng 3D trong một môi trường hoàn toàn khác. đặc biệt. Trên thực tế, để có thể thiết kế một công trình, các kiến ​​trúc sư đã phải trải qua một quá trình nghiên cứu và phác thảo rất kỹ lưỡng. Công cụ 3D trên máy tính gần đây đã phát triển mạnh mẽ với các ứng dụng như 3Dmax, Sketchup, Revit massing… tuy nhiên, [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Nếu là một fan của Iron Man, chắc hẳn bạn không còn quá xa lạ với hình ảnh Tony Stark sử dụng một loại công cụ mô phỏng 3D thực tế ảo để truy lùng kẻ thù. Tưởng chừng chỉ có trong phim Marvel nhưng các nhà khoa học của Trimple đã nghiên cứu và cho ra đời một ứng dụng mang tên Sketchup Viewer, giúp bạn trải nghiệm mô phỏng 3D trong một môi trường hoàn toàn khác. đặc biệt.</p>
<p>Trên thực tế, để có thể thiết kế một công trình, các kiến ​​trúc sư đã phải trải qua một quá trình nghiên cứu và phác thảo rất kỹ lưỡng. Công cụ 3D trên máy tính gần đây đã phát triển mạnh mẽ với các ứng dụng như 3Dmax, Sketchup, Revit massing… tuy nhiên, tất cả các ứng dụng đó đều chưa thực sự trực quan cho người dùng.</p>
<figure id="attachment_131587" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131587"><img loading="lazy" class="size-full wp-image-131587 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.png" alt="Các kiến ​​trúc sư đang làm việc với các mô hình mô phỏng truyền thống." width="630" height="400" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 8">Các kiến ​​trúc sư đang làm việc với các mô hình mô phỏng truyền thống.</figure>
<figure id="attachment_131594" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131594"><img loading="lazy" class="size-full wp-image-131594 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="420" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 9">Một góc bàn sinh viên kiến ​​trúc</figure>
<p>Mặc dù trực quan nhưng việc xây dựng các mô hình ý tưởng như vậy tốn rất nhiều thời gian và công sức, chưa kể bạn phải đầu tư một lượng lớn công cụ và vật liệu. Sự ra đời của máy in 3D là một bước ngoặt đối với các kiến ​​trúc sư, tuy nhiên tính linh hoạt của nó vẫn còn hạn chế.</p>
<p>Trong bối cảnh đó, các nhà phát minh từ Trimple đã phát hành một ứng dụng có tên Sketchup Viewer, cho phép các kiến ​​trúc sư trải nghiệm khái niệm của họ trong một môi trường hoàn toàn mới.</p>
<p><img loading="lazy" class="aligncenter size-full wp-image-131588 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773088_27_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="390" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 10"></p>
<p>Sử dụng công nghệ HoloLens 3D, Sketchup Viewer tạo ra các hình ảnh 3D thực tế có thể được đặt trong môi trường thực tế, giúp các kiến ​​trúc sư có thể quan sát và phân tích kế hoạch thiết kế của họ ngay cả khi thực tế. vẫn còn trên máy tính.</p>
<figure id="attachment_131589" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131589"><img loading="lazy" class="size-full wp-image-131589 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773089_126_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="383" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 11">Sketchup Viewer cho phép các kiến ​​trúc sư trực tiếp quan sát và điều chỉnh phương án thiết kế của mình một cách trực quan và linh hoạt nhất.</figure>
<p>“Trimple kết hợp hoàn hảo giữa thực tế và công nghệ 3D. Sử dụng công nghệ này, tôi có thể đưa ra quyết định đúng đắn ngay trong quá trình phác thảo, giúp rút ngắn thời gian thiết kế và tăng hiệu quả trong việc tiếp xúc với khách hàng ”- Theo Lynn, một kiến ​​trúc sư chia sẻ.</p>
<figure id="attachment_131590" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131590"><img loading="lazy" class="size-full wp-image-131590 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773090_530_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="354" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 12">Chỉ với một thiết bị hỗ trợ xem hình ảnh giả lập, bạn hoàn toàn có thể làm chủ ứng dụng này</figure>
<p>Trình xem Sketchup sử dụng công nghệ thực tế ảo, tương thích với tất cả các mô hình từ thư viện 3D Warehouse dựa trên nền tảng Trimple Connect. Khi được cài đặt ở chế độ mặt bàn, mô hình có thể được thu nhỏ để phù hợp với không gian có sẵn hoặc phóng to các chi tiết cụ thể. Ngoài ra, bạn có thể tùy chỉnh linh hoạt như xoay, tháo rời hay lắp ráp mô hình. Cho phép người dùng đi bộ bên trong dự án và xem nó từ nhiều góc độ khác nhau.</p>
<p><img loading="lazy" class="aligncenter size-full wp-image-131591 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773092_768_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.png" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="264" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 13"></p>
<p>Trình xem Sketchup cũng cho phép kết nối từ xa. Điều này giúp chủ đầu tư, hoặc khách hàng ở xa dự án có thể “trực tiếp” trải nghiệm và quan sát bản phác thảo của kiến ​​trúc sư, bàn bạc và lên phương án một cách thuận tiện và trực quan. Tốt.</p>
<figure id="attachment_131593" class="wp-caption aligncenter" style="width: 630px;" aria-describedby="caption-attachment-131593"><img loading="lazy" class="size-full wp-image-131593 lazy" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2021/04/1618773093_577_Sketchup-Viewer-khai-thac-cong-nghe-3D-thuc-tai-ao.jpg" alt="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc" width="630" height="419" data-="" title="Sketchup Viewer: khai thác công nghệ 3D thực tại ảo trong thiết kế kiến trúc 14">Công nghệ này cũng có thể được áp dụng trong ngành chế tạo máy. Với khả năng ứng dụng linh hoạt của trình xem sketchup, nó hứa hẹn sẽ tạo ra những bước đột phá trong ngành công nghiệp phần mềm và có ảnh hưởng sâu rộng đến thị trường kiến ​​trúc và thiết kế.</figure>
<p style="text-align: right;"><strong>Theo GenK</strong></p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/sketchup-viewer-khai-thac-cong-nghe-3d-thuc-tai-ao-trong-thiet-ke-kien-truc/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
