<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Nhà Đẹp &#8211; Nhà Đẹp A-Z</title>
	<atom:link href="https://test-static-enti.bitbucket.io/nha-dep/feed/" rel="self" type="application/rss+xml" />
	<link>https://test-static-enti.bitbucket.io/</link>
	<description>Chuyên trang tổng hợp kiến trúc và nhà đẹp!</description>
	<lastBuildDate>Wed, 19 Aug 2020 06:20:38 +0000</lastBuildDate>
	<language>vi</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.2</generator>

<image>
	<url>https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/cropped-favicon-aznhadep-32x32.png</url>
	<title>Nhà Đẹp &#8211; Nhà Đẹp A-Z</title>
	<link>https://test-static-enti.bitbucket.io/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>9 mẫu thiết kế nhà phố 2 tầng đẹp</title>
		<link>https://test-static-enti.bitbucket.io/9-mau-thiet-ke-nha-pho-2-tang-dep/</link>
					<comments>https://test-static-enti.bitbucket.io/9-mau-thiet-ke-nha-pho-2-tang-dep/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 19 Aug 2020 06:20:37 +0000</pubDate>
				<category><![CDATA[Nhà Đẹp]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=324</guid>

					<description><![CDATA[Thiết kế nhà phố 2 tầng đẹp hiện đại, mang đến không gian sống tiện nghi đang được nhiều gia chủ quan tâm. Dưới đây là một số mẫu thiết kế nhà phố 2 tầng phổ biến bạn có thể tham khảo. Nhà phố 2 tầng đẹp hiện đại không rườm rà và cầu kỳ như kiến trúc cổ điển mà mang đặc trưng với sự đơn giản trong thiết kế và tiện nghi của nội thất nhưng vẫn mang vẻ đẹp sang trọng, bề thế của ngoại thất. Mẫu nhà phố 2 tầng đẹp với mái bằng có hình khối kiến trúc đơn giản, ngoại thất màu sáng kết hợp với các vật liệu hiện đại tạo nên nhà đẹp hút hồn và tiện nghi cho gia đình. Nhà phố 2 tầng đẹp với [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Thiết kế nhà phố 2 tầng đẹp hiện đại, mang đến không gian sống tiện nghi đang được nhiều gia chủ quan tâm. Dưới đây là một số mẫu thiết kế nhà phố 2 tầng phổ biến bạn có thể tham khảo.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 534px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200617104243-1.jpeg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 10"></p>
<p>Nhà phố 2 tầng đẹp hiện đại không rườm rà và cầu kỳ như kiến trúc cổ điển mà mang đặc trưng với sự đơn giản trong thiết kế và tiện nghi của nội thất nhưng vẫn mang vẻ đẹp sang trọng, bề thế của ngoại thất.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 695px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/mau-thiet-ke-nha-pho-2-tang-dep-5.jpg" alt="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/mau-thiet-ke-nha-pho-2-tang-dep-5.jpg" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 11"></p>
<p>Mẫu nhà phố 2 tầng đẹp với mái bằng có hình khối kiến trúc đơn giản, ngoại thất màu sáng kết hợp với các vật liệu hiện đại tạo nên nhà đẹp hút hồn và tiện nghi cho gia đình.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 494px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200617104243-2.jpeg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 12"></p>
<p>Nhà phố 2 tầng đẹp với mái thái được thiết kế cân đối, sang trọng, thanh lịch bởi hệ cửa gỗ tự nhiên lớn ở sảnh chính cùng sự kết hợp hài hòa cùng hệ thống tiểu cảnh xanh thiên nhiên.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 659px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/nhapho2tangdep.jpg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 13"></p>
<p>Mẫu nhà phố 2 tầng mái lệch có cửa kính lớn giúp ánh sáng và không khí tự nhiên dễ dàng lưu thông vào không gian bên trong nhà. Các chi tiết gạch ốp, cây cảnh là điểm chấm phá cho tổng thể kiến trúc ngoại thất đồng thời mang lại sự ấm áp, thân thiện với thiên nhiên.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 750px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200617104243-3.jpeg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 14"></p>
<p>Những hình khối kết hợp với chất liệu gỗ mà sắc tươi sáng giúp cho ngôi nhà phố 2 tầng trông năng động, tươi sáng hơn.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 413px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200617104243-4.jpeg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 15"></p>
<p>Ngôi nhà phố 2 tầng có diện tích lớn này được thiết kế hiện đại tinh tế, từ cổng vào cho đến ngôi nhà đều được chăm chút vô cùng cầu kỳ tinh tế. Phần mái thái màu xanh ghi tạo sự nổi bật trên nền sơn trắng của ngôi nhà.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 600px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200617104243-5.jpeg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 16"></p>
<p>Mẫu nhà phố 2 tầng hình vuông tuy đơn giản nhưng thật sự ấn tượng và mang lại vẻ đẹp khỏe khoắn mà sang trọng hiện đại.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 400px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200617104243-6.jpeg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 17"></p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 453px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200617104243-7.jpeg" alt="9 mẫu thiết kế nhà phố 2 tầng đẹp" title="9 mẫu thiết kế nhà phố 2 tầng đẹp 18"></p>
<p>Kiến trúc nhà phố 2 tầng với mặt tiền rộng, thể hiện vẻ đẹp với những điểm nhấn nhá kiến trúc thông minh, xung quanh được ốp đá hoa cương, gạch trang trí cùng với các chi tiết gạch kẻ sơn màu đỏ sẫm, tạo nên sự hài hòa cho tổng thể ngôi nhà.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/9-mau-thiet-ke-nha-pho-2-tang-dep/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
