<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	 xmlns:media="http://search.yahoo.com/mrss/" >

<channel>
	<title>Ngoại Thất &#8211; Nhà Đẹp A-Z</title>
	<atom:link href="https://test-static-enti.bitbucket.io/ngoai-that/feed/" rel="self" type="application/rss+xml" />
	<link>https://test-static-enti.bitbucket.io/</link>
	<description>Chuyên trang tổng hợp kiến trúc và nhà đẹp!</description>
	<lastBuildDate>Wed, 19 Aug 2020 06:41:47 +0000</lastBuildDate>
	<language>vi</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.2</generator>

<image>
	<url>https://test-static-enti.bitbucket.io/wp-content/uploads/2021/03/cropped-favicon-aznhadep-32x32.png</url>
	<title>Ngoại Thất &#8211; Nhà Đẹp A-Z</title>
	<link>https://test-static-enti.bitbucket.io/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Ý tưởng tuyệt vời thiết kế lối cửa ra vào</title>
		<link>https://test-static-enti.bitbucket.io/y-tuong-tuyet-voi-thiet-ke-loi-cua-ra-vao/</link>
					<comments>https://test-static-enti.bitbucket.io/y-tuong-tuyet-voi-thiet-ke-loi-cua-ra-vao/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 19 Aug 2020 06:41:45 +0000</pubDate>
				<category><![CDATA[Ngoại Thất]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=300</guid>

					<description><![CDATA[Là mặt tiền của cả căn nhà, vì vậy hãy tạo ấn tượng tốt ngay từ cổng ra vào bằng các gợi ý vô cùng tuyệt hảo dưới đây!]]></description>
										<content:encoded><![CDATA[<p>Là mặt tiền của cả căn nhà, vì vậy hãy tạo ấn tượng tốt ngay từ cổng ra vào bằng các gợi ý vô cùng tuyệt hảo dưới đây!</p>
<div style="width: 890px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 375px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-1.jpeg" alt="Lối vào cửa trước được xây dựng như một góc sân tạm thời, tạo cảm giác yên bình và tĩnh lặng khi về đêm." width="880" height="550" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 1"><p class="wp-caption-text">Lối vào cửa trước được xây dựng như một góc sân tạm thời, tạo cảm giác yên bình và tĩnh lặng khi về đêm.</p></div>
<div style="width: 1110px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 800px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-2.jpeg" alt="Một lối ra vào hẹp, song hai bên cây xanh cùng đá sỏi giúp không gian trở nên đặc biệt, ấn tượng." width="1100" height="733" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 2"><p class="wp-caption-text">Một lối ra vào hẹp, song hai bên cây xanh cùng đá sỏi giúp không gian trở nên đặc biệt, ấn tượng.</p></div>
<div style="width: 1110px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 450px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-3.jpeg" alt="Lạ mắt và thú vị với lối ra vào lấy cảm hứng từ Nhật Bản." width="1100" height="825" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 3"><p class="wp-caption-text">Lạ mắt và thú vị với lối ra vào lấy cảm hứng từ nhật bản.</p></div>
<div style="width: 1110px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 400px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-4.jpeg" alt="Ngược lại với một cái lối ra vào rộng lớn, ngập tràn khung cây xanh sẽ tạo không khí thoải mái, thoáng đãng." width="1100" height="733" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 4"><p class="wp-caption-text">Ngược lại với một cái lối ra vào rộng lớn, ngập tràn khung cây xanh sẽ tạo không khí thoải mái, thoáng đãng.</p></div>
<p style="margin-left: 0cm; margin-right: 0cm;">
<div style="width: 1110px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 450px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-5.jpeg" alt="Những bức tường đá gồ ghề giúp lối ra vào mang phong cách rất hiện đại, tinh tế." width="1100" height="825" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 5"><p class="wp-caption-text">Những bức tường đá gồ ghề giúp lối ra vào mang phong cách rất hiện đại, tinh tế.</p></div>
<p style="margin-left: 0cm; margin-right: 0cm;">
<div style="width: 1110px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 784px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-6.jpeg" alt="Hay như một lối vào hoang dã, tự nhiên." width="1100" height="719" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 6"><p class="wp-caption-text">Hay như một lối vào hoang dã, tự nhiên.</p></div>
<p style="margin-left: 0cm; margin-right: 0cm;">
<div style="width: 1110px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 800px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-7.jpeg" alt="Khá thanh lịch và mát mẻ với phong cách này." width="1100" height="733" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 7"><p class="wp-caption-text">Khá thanh lịch và mát mẻ với phong cách này.</p></div>
<p style="margin-left: 0cm; margin-right: 0cm;">
<div style="width: 890px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 380px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-8.jpeg" alt="Một lối ra vào hoàn hảo với cây đôi, ghế dài và tường âm." width="880" height="558" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 8"><p class="wp-caption-text">Một lối ra vào hoàn hảo với cây đôi, ghế dài và tường âm.</p></div>
<p style="margin-left: 0cm; margin-right: 0cm;">
<div style="width: 1110px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 759px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-9.jpeg" alt="Gỗ tạo ra sự ấm áp cho ngoại thất của ngôi nhà đơn sắc, đặc biệt." width="1100" height="696" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 9"><p class="wp-caption-text">Gỗ tạo ra sự ấm áp cho ngoại thất của ngôi nhà đơn sắc, đặc biệt.</p></div>
<p style="margin-left: 0cm; margin-right: 0cm;">
<div style="width: 890px" class="wp-caption aligncenter"><img loading="lazy" class="lazyload" style="height: 449px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200630141041-10.jpeg" alt="Như một bức tranh sống động, có hồn là điều cảm nhận được từ không gian này." width="880" height="659" title="Ý tưởng tuyệt vời thiết kế lối cửa ra vào 10"><p class="wp-caption-text">Như một bức tranh sống động, có hồn là điều cảm nhận được từ không gian này.</p></div>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/y-tuong-tuyet-voi-thiet-ke-loi-cua-ra-vao/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
		<item>
		<title>Đèn trang trí ngoại thất đẹp và độc đáo</title>
		<link>https://test-static-enti.bitbucket.io/den-trang-tri-ngoai-that-dep-va-doc-dao/</link>
					<comments>https://test-static-enti.bitbucket.io/den-trang-tri-ngoai-that-dep-va-doc-dao/#respond</comments>
		
		<dc:creator><![CDATA[boss]]></dc:creator>
		<pubDate>Wed, 19 Aug 2020 06:24:18 +0000</pubDate>
				<category><![CDATA[Ngoại Thất]]></category>
		<guid isPermaLink="false">http://test-static-enti.bitbucket.io/?p=339</guid>

					<description><![CDATA[Không gian ngoại thất nhà bạn sẽ trở nên lung linh, nổi bật khi được trang trí thêm hệ thống đèn trang trí độc đáo. Đèn trang trí ngoại thất có thể bao gồm đèn trụ cổng, đèn trụ sân vườn, đèn tường ngoài trời, đèn thả ngoài trời,… Đèn trụ cổng và đèn trụ sân vườn là loại đèn trang trí ngoại thất cần thiết để thắp sáng đường đi bộ trong khu vườn của bạn cũng như ở phía trước ngôi nhà của bạn trong thời gian ban đêm. Bạn có thể sử dụng loại đèn năng lượng mặt trời. Đèn dây treo ngoài trời: Mẫu đèn trang trí ngoại thất này rất đa dạng về mẫu mã, kích thước, màu sắc như đèn led chớp bi, đèn tròn thả,… Tùy không gian [&#8230;]]]></description>
										<content:encoded><![CDATA[<p>Không gian ngoại thất nhà bạn sẽ trở nên lung linh, nổi bật khi được trang trí thêm hệ thống đèn trang trí độc đáo.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 456px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200619081301-1.jpeg" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 19"></p>
<p>Đèn trang trí ngoại thất có thể bao gồm đèn trụ cổng, đèn trụ sân vườn, đèn tường ngoài trời, đèn thả ngoài trời,…</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 511px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200619081301-2.jpeg" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 20"></p>
<p>Đèn trụ cổng và đèn trụ sân vườn là loại đèn trang trí ngoại thất cần thiết để thắp sáng đường đi bộ trong khu vườn của bạn cũng như ở phía trước ngôi nhà của bạn trong thời gian ban đêm. Bạn có thể sử dụng loại đèn năng lượng mặt trời.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 450px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200619081302-3.jpeg" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 21"></p>
<p>Đèn dây treo ngoài trời: Mẫu đèn trang trí ngoại thất này rất đa dạng về mẫu mã, kích thước, màu sắc như đèn led chớp bi, đèn tròn thả,…</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 540px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/den-trang-tri-quan-cafe-ngoai-troi.jpg" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 22"></p>
<p>Tùy không gian mà bạn có thể chọn lựa tạo hiệu ứng ánh sáng tốt nhất cho không gian.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 436px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/day-den-trang-tri-1-1.jpg" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 23"></p>
<p>Loại đèn trang trí ngoại thất này có thể lắp đặt thuận tiện bằng cách thiết kế lỗ vít giúp bạn cố định vào tường và mặt dựng đơn giản, tiện lợi, có khả năng chống nước tốt.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 399px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200619081302-4.jpeg" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 24"></p>
<p>Đèn lồng truyền thống mang đến không gian nhẹ nhàng cho không gian hiên nhà, sân vườn.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 450px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/denmay-tre.jpg" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 25"></p>
<p>Ngoài ra bạn cũng có thể chọn loại đèn mây tre, đèn gỗ mộc mạc để trang trí ngoại thất.</p>
<p style="text-align: center;"><img class="lazyload aligncenter" style="height: 234px; width: 600px;" src="https://test-static-enti.bitbucket.io/wp-content/uploads/2020/08/image-20200619081302-5.png" alt="Đèn trang trí ngoại thất đẹp và độc đáo" title="Đèn trang trí ngoại thất đẹp và độc đáo 26"></p>
<p>Đèn led hắt tường trang trí làm nổi bật không gian ngoại thất, có độ bền tốt, sử dụng đơn giản, chỉ cần ốp vào tường, không cần lau chùi, bảo trì.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://test-static-enti.bitbucket.io/den-trang-tri-ngoai-that-dep-va-doc-dao/feed/</wfw:commentRss>
			<slash:comments>0</slash:comments>
		
		
			</item>
	</channel>
</rss>
