<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	 xmlns:media="http://search.yahoo.com/mrss/" 
	>
<channel>
	<title>
	Bình luận cho Nhà Đẹp A-Z	</title>
	<atom:link href="https://test-static-enti.bitbucket.io/comments/feed/" rel="self" type="application/rss+xml" />
	<link>https://test-static-enti.bitbucket.io/</link>
	<description>Chuyên trang tổng hợp kiến trúc và nhà đẹp!</description>
	<lastBuildDate>Tue, 27 Apr 2021 04:52:01 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.8.2</generator>
</channel>
</rss>
